---
import { ViewTransitions } from "astro:transitions";

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Venta, renta y reparación de equipo de construccion ligera"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-100 text-primary flex flex-col min-h-screen">
    <Header />
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
    <button
      id="scroll-to-top"
      class="fixed bottom-5 right-5 bg-secondary text-white p-2 rounded-full shadow-lg transition-opacity duration-300 opacity-0 invisible"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
      </svg>
    </button>
  </body>
</html>

<script>
  function handleScrollToTop() {
    const scrollToTopButton = document.getElementById("scroll-to-top");

    if (scrollToTopButton) {
      function toggleScrollToTopButton() {
        if (window.scrollY > 200) {
          scrollToTopButton.classList.remove("opacity-0", "invisible");
          scrollToTopButton.classList.add("opacity-100", "visible");
        } else {
          scrollToTopButton.classList.remove("opacity-100", "visible");
          scrollToTopButton.classList.add("opacity-0", "invisible");
        }
      }

      function scrollToTop() {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }

      window.addEventListener("scroll", toggleScrollToTopButton);
      scrollToTopButton.addEventListener("click", scrollToTop);

      // Initial check in case the page is already scrolled on load
      toggleScrollToTopButton();
    }
  }

  // Run the function on initial page load
  handleScrollToTop();

  // Re-run the function when navigating between pages using View Transitions
  document.addEventListener("astro:page-load", handleScrollToTop);
</script>
